            body {
                color:  white;
                font-family: Helvetica;
            }
            
            html { 
              background: url(nebula_starfield_noneb.jpg) no-repeat center center fixed; 
              -webkit-background-size: cover;
              -moz-background-size: cover;
              -o-background-size: cover;
              background-size: cover;
            }
            
            #ctrlPanel{
                position: absolute;
                left: 836px;
                top: 70px;
                width: 260px;
                
                font-size: .9em;
                
            }
            
            #Banner{
               
                background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.2), rgba(0,0,0,.6), rgba(0,0,0,.9));
                height:  60px;
                margin-left:  -18px;
                margin-top: -10px;
                padding-top: 0px;
                z-index: 400;
                left: 18px;
                top: 13px;
                position: absolute;
            }

            #Logo{
              margin-top: 0px;
              margin-left:  10px;  
            }

            #Navbar ul {
                list-style-type: none;
                margin: 0px;
                margin-left: 20px;
                padding: 0;
                overflow: hidden;
            }

            #Navbar li {
                float: left;
            }

            #Navbar li a {
                display: block;
                color: white;
                text-align: center;
                padding: 0px 10px 4px 10px;
                text-decoration: none;
                font-size:  1em;
            }

            #Navbar li a:hover {
                background-color: #278BD1;
                border-bottom: 1px solid #0059b3;
                padding: 0px 10px 4px 10px;
            }

            #Navbar{
   
                width:  101vw;
                height:  25px;
                margin-left:  -1vw;
                background:  rgba(0,0,0,.9);
                
                border-bottom:  1px solid #0059b3;
                z-index: 300;
                top: 63px;
                position: absolute;
    
            }
            
            #mainCanvas{
                position: absolute;
                top: 110px;
            }
            
            #seedForm{
                visibility: hidden;
            }
            
            .displayButtons{
    
                width:  196px;
                margin-left: 3px;
                border-radius: 5px;
                background-color:  #101010;
                color:  #FFF;
                border:  1px solid #0059b3;
                margin-bottom: 2px;
    
            }
            
            .resetButtons{
                /*width:  60px;*/
                margin-left: 3px;
                border-radius: 5px;
                background-color:  #101010;
                color:  #FFF;
                border:  1px solid #0059b3;
                margin-bottom: 2px;    
            }
            
            .resetButtons:hover{
                background-color: #278BD1;
            }
            
            .genButton{
                margin-left: 3px;
                width: 98%;
                height:  43px;
                background-color:  #101010;
                border:  1px solid #0059b3;
                color:  #FFF;
                border-radius:  5px; 
                margin-bottom: 2px;
       
            }

            .genButton:hover{
                
                background-color: #278BD1;
       
            }
            
            input[type=range] {
              -webkit-appearance: none;
              width: 50%;
              margin: 5.8px 0;
            }
            input[type=range]:focus {
              outline: none;
            }
            input[type=range]::-webkit-slider-runnable-track {
              width: 50%;
              height: 8.4px;
              cursor: pointer;
              box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
              background: #101010;
              border-radius: 1.3px;
              border: 0.2px solid #0059b3;
            }
            input[type=range]::-webkit-slider-thumb {
              box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
              border: 1px solid #0059b3;
              height: 20px;
              width: 20px;
              border-radius: 37px;
              background: #278bd1;
              cursor: pointer;
              -webkit-appearance: none;
              margin-top: -6px;
            }
            input[type=range]:focus::-webkit-slider-runnable-track {
              background: #NaNNaNNaN;
            }
            input[type=range]::-moz-range-track {
              width: 50%;
              height: 8.4px;
              cursor: pointer;
              box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
              background: #101010;
              border-radius: 1.3px;
              border: 0.2px solid #0059b3;
            }
            input[type=range]::-moz-range-thumb {
              box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
              border: 1px solid #0059b3;
              height: 20px;
              width: 20px;
              border-radius: 37px;
              background: #278bd1;
              cursor: pointer;
            }
            input[type=range]::-ms-track {
              width: 50%;
              height: 8.4px;
              cursor: pointer;
              background: transparent;
              border-color: transparent;
              color: transparent;
            }
            input[type=range]::-ms-fill-lower {
              background: #NaNNaNNaN;
              border: 0.2px solid #0059b3;
              border-radius: 2.6px;
              box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
            }
            input[type=range]::-ms-fill-upper {
              background: #101010;
              border: 0.2px solid #0059b3;
              border-radius: 2.6px;
              box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
            }
            input[type=range]::-ms-thumb {
              box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
              border: 1px solid #0059b3;
              height: 20px;
              width: 20px;
              border-radius: 37px;
              background: #278bd1;
              cursor: pointer;
              height: 8.4px;
            }
            input[type=range]:focus::-ms-fill-lower {
              background: #101010;
            }
            input[type=range]:focus::-ms-fill-upper {
              background: #NaNNaNNaN;
            }
            
            