html { 
  background: url(nebula_starfield_noneb.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 840px;
}

body {
    
    /*background-color: #000;*/
    /*color:  white;*/
    /*font-family: Raleway, sans-serif;*/
    font-family: Helvetica;
    /*display:  inline-block;*/
    width: 100vw;
    height:  840px;
    margin-top: 90px;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    background-color: #eff5f5;
      
}

#Banner{
   /* background-color: #202020;*/
    /*background: #303030; /* For browsers that do not support gradients */
    /*background: -webkit-linear-gradient(#303030, #000); /* For Safari 5.1 to 6.0 */
    /*background: -o-linear-gradient(#303030, #000); /* For Opera 11.1 to 12.0 */
    /*background: -moz-linear-gradient(#303030, #000); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.2), rgba(0,0,0,.6), rgba(0,0,0,.9));
    height:  60px;
    margin-left:  -18px;
    margin-top: -10px;
    padding-top: 0px;
    z-index: 400;
    left: 18px;
    top: 13px;
    position: absolute;
}

#Logo{
  margin-top: 0px;
  margin-left:  10px;  
}

#Navbar ul {
    list-style-type: none;
    margin: 0px;
    margin-left: 20px;
    padding: 0;
    overflow: hidden;
}

#Navbar li {
    float: left;
}

#Navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 0px 10px 4px 10px;
    text-decoration: none;
    font-size:  1em;
}

#Navbar li a:hover {
    background-color: #278BD1;
    border-bottom: 1px solid #0059b3;
    padding: 0px 10px 4px 10px;
}

#Navbar{
   
    width:  101vw;
    height:  25px;
    margin-left:  -1vw;
    background:  rgba(0,0,0,.9);
    /*background-color:  #303030;*/
    border-bottom:  1px solid #0059b3;
    z-index: 300;
    top: 63px;
    position: absolute;
    
}

.displayButtons{
    
    width:  200px;
    margin-left: 3px;
    border-radius: 5px;
    background-color:  #101010;
    color:  #FFF;
    border:  1px solid #0059b3;
    margin-bottom: 2px;
    
}

.displayButtons:hover{
    
    width:  200px;
    margin-left: 3px;
    border-radius: 5px;
    background-color: #278BD1;
    
}

#canvases{
  
  width: 50%;
  float:  left;
  padding-top: 100px;
  
}

/*#buttons{
    
    margin-left:  20px;
    width:  48%;
    float:  left;
    padding-top: 100px;
    
    
}*/

div.control button{
    /*margin-top: 100px;*/
    width: 200px;
    float: left;
    /* padding-top: 100px; */
    /* border-radius: 5px; */
    background-color: #101010;
    color: #FFF;
    border: 1px solid #0059b3;
    height: 40px;
}

div.control button:hover{
    /*margin-top: 100px;*/
    width: 200px;
    float: left;
    /* padding-top: 100px; */
    /* border-radius: 5px; */
    background-color: #278BD1;
    color: #FFF;
    border: 1px solid #0059b3;
    height: 40px;
}

#final.example{
    width: 1000px;
}

div .output{
    /* margin-top: 120px; */
    font-size: .8em;
    width: 100vw;
    height: 270px;
    padding-top: 10px;
    padding-left: 10px;
    /* overflow-y: scroll; */
    overflow: scroll;
}

.controlset{
    background-color: #020202;
    width: 100vw;
    height: 42px;
}

#stats{
    font-size: .8em;
}

#diagramButtons{
        float: right;
    margin-left: 1595px;
    margin-top: -500px;
    
}

#diagramButtons button{
    width: 115px;
}


#customLangOptions{
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 100;
    background: #b1d0d0;
    border: 1px solid grey;
    font-size: .8em;
    width: 320px;
    height: 522px;
    padding: 5px 5px 0px 5px;
    visibility: hidden;
}

#customLangOptions input{
    float: right;
    height: 17px;
}

#customLangOptions select{
    float: right;
    height: 20px;
    width: 173px;
    
}

#exitCustomLangOptions{
    cursor: pointer;
    position: relative;
    float: right;
    background: rgba(0,0,0,0);
    border: none;
    width: 20px;
    font-size: 20px;
    
}

#genCustom{
    margin-top: 5px;
    width: 320px;
    height: 40px;
}




@media screen and (max-width: 1710px ) {

    body{
    width: 1710px;
}
    
    div .output {
    width: 1700px;    
    }

    .controlset{
    width: 1710px;
}
       
}
