html { 
  background: url(nebula_starfield_noneb.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
    
    /*background-color: #000;*/
    color:  white;
    font-family: Helvetica;
    /*display:  inline-block;*/
    width:  1000px;
      
}

#Banner{
   /* background-color: #202020;*/
    /*background: #303030; /* For browsers that do not support gradients */
    /*background: -webkit-linear-gradient(#303030, #000); /* For Safari 5.1 to 6.0 */
    /*background: -o-linear-gradient(#303030, #000); /* For Opera 11.1 to 12.0 */
    /*background: -moz-linear-gradient(#303030, #000); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.2), rgba(0,0,0,.6), rgba(0,0,0,.9));
    height:  60px;
    margin-left:  -18px;
    margin-top: -10px;
    padding-top: 0px;
    z-index: 400;
    left: 18px;
    top: 13px;
    position: absolute;
}

#Logo{
  margin-top: 0px;
  margin-left:  10px;  
}

#Navbar ul {
    list-style-type: none;
    margin: 0px;
    margin-left: 20px;
    padding: 0;
    overflow: hidden;
}

#Navbar li {
    float: left;
}

#Navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 0px 10px 4px 10px;
    text-decoration: none;
    font-size:  1em;
}

#Navbar li a:hover {
    background-color: #278BD1;
    border-bottom: 1px solid #0059b3;
    padding: 0px 10px 4px 10px;
}

#Navbar{
   
    width:  101vw;
    height:  25px;
    margin-left:  -1vw;
    background:  rgba(0,0,0,.9);
    /*background-color:  #303030;*/
    border-bottom:  1px solid #0059b3;
    z-index: 300;
    top: 63px;
    position: absolute;
    
}


#main{
    width:  1200px;
    height:  1200px;
    
}

#canvases{
    
    padding-top: 100px;
    width: 320px;
    float:  left;
}

#DisplayButtons{
    
    float: left;
    width:  200px;
    border: 1px solid #c3c3c3;
    border-radius:  2px;
    background-color: #202020;
    
    margin-top:  82px;
    margin-left: 20px;
    
}

.dispButtons{
    
    width:  96%;
    margin-left: 3px;
    border-radius: 5px;
    background-color:  #101010;
    color:  #FFF;
    border:  1px solid #0059b3;
    margin-bottom: 2px;
    margin-top:  1px;
    
}

.dispButtons:hover{
    
    width:  96%;
    margin-left: 3px;
    border-radius: 5px;
    background-color: #278BD1;
    
}

.dispText{
    margin-left: 3px;
}